
body {
  background-color: var(--dark);
  font-family: Rubik;
}

h2 {
  text-align: right;
  text-align: justify;
  font-weight: bold;
}

p {
  max-width: 300px;
  text-align: justify;
  margin-bottom: 30px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  top: 0; left: 0; bottom: 0; right: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Rubik;
  font-size: 16px;
  color: var(--light);
  background-color: var(--dark);
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

#main-area {
  width: 50%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
;
}

#logo {
  height: 51px;
  display: block;
  animation: float 6s ease-in-out infinite;
  margin-bottom: 20px;
}

#sub-header {
  color: var(--light);
  margin-top: 10px;
  margin-bottom: 40px;
  display: flex;
  text-align: center;
}


#overlay-btn {
  display: block;
  margin-bottom: 10px;
  width: 200px;
}

#start-btn {
  width: 200px;
  display: block;
  color: var(--dark);
  background-color: var(--accent);
  border: none;
  margin-bottom: 10px;
}

#start-btn:hover {
  background-color: var(--light);
}

p a {
  color: inherit;
}

@media (max-width: 767px) {
  #main-area {
    width: 80%;
  }

  #logo {
    width: 80vw;
  }
}

